body {
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed';
    font-style: normal;
    color: #000;
}

h1, h2, h3 {
    font-family: 'ITC Avant Garde Gothic Std Demi Condensed';
    font-style: normal;
}

/* Reset Content Top Padding */
.content {
    padding-top: 0;
}

.sidebar {
    color: #000;
}

/* Sidebar Logo Size */
.sidebar h1 img {
    width: 80%;
}

/* Sidebar Headings */
.sidebar ul li {
    color: #1ebf90;
}

.sidebar ul li > a {
    color: #000;
}

/* Sidebar Active */
.sidebar ul li.active > a {
    color: #D01A6D;
}

.app-sub-sidebar li::before {
    content: unset;
}

/* Document Titles */
.anchor span {
    color: #000;
}

.markdown-section h1 {
    color: #000;
}

/* Table Styling */
.markdown-section th {
    border: 1px solid #1ebf90;
}

.markdown-section td {
    border: 1px solid #1ebf90;
}

/* Table Alternate Rows */
.markdown-section tr:nth-child(2n) {
    background-color: unset;
}

/* Tip Styling */
.markdown-section p.tip {
    color: #000;
}
