body {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    line-height: 1.5;
    font-size: 15;
}

/* Background Color */
.sidebar, body {
    background-color: #1a1a1a;
}

/* Reset Content Top Padding */
.content {
    padding-top: 0;
}

/* Sidebar Logo Size */
.sidebar h1 img {
    width: 80%;
}

/* Sidebar Headings */
.sidebar ul li {
    color: #1ebf90;
}

/* Sidebar Active */
.sidebar ul li.active > a {
    color: #ffffff;
}

/* Document Titles */
.anchor span {
    color: #ffffff;
}

.markdown-section h1 {
    color: #ffffff;
}

/* Table Styling */
.markdown-section th {
    border: 1px solid #1ebf90;
}

.markdown-section td {
    border: 1px solid #1ebf90;
}

/* Table Alternate Rows */
.markdown-section tr:nth-child(2n) {
    background-color: unset;
}

/* Tip Styling */
.markdown-section p.tip {
    color: #ffffff;
}